*{
	margin: 0;
	font-family: sans-serif;
}
/*HEADER*/
.cabeca{
	background-color: orange;
	list-style: none;
	display: flex;
	justify-content: space-around;
	height: 50px;
	width:100%;
	margin: 0px;
	padding-top: 30px;
	border-bottom: 2px solid black;
}
.cabeca h1#titulo{
    color:white;
    top:2px;
}
.cabeca li a {
	text-decoration: none;
	color: white;
	height: 100px;
    font-weight: 25px;
}
li a:hover{
	color: white;
	text-decoration: underline;
	font-size: 1em;
}

/*TABELA CONFIGURAÇÃO*/
table#tabelacliente{
	border: 1px solid  orange;
	border-spacing:0px;
	margin-left: 15px;
	margin-right: auto;
	margin-top: 0px;
	position: absolute;
 
 }
 table#tabelacliente th{
	border: 1px solid orange;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
  }
  
  table#tabelacliente th.titulo{
	  color: white;
	  background-color: orange;
	  vertical-align: top;
	  font-weight: 25px;
  }
  
  table#tabelacliente td.corptabela{
       text-align: center;
       font-weight: 600;
  }
  table#tabelacliente td a#update{
	border:none;
	outline: none;
	padding: 2px 25px;
	background:green;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	text-decoration:none;
	font-size: 1em;
	margin: auto;
	color:black;
  }
  table#tabelacliente td a#delete{
	border:none;
	outline: none;
	padding: 2px;
	background:red;
	border-radius: 4px;
	font-weight: 600;
	width: 50px;
	text-decoration:none;
	font-size: 1em;
	margin: auto;
	color:black;
  }

  /*TELA DE VENDAS*/
  /*PARA O FORMULARIOOOOOOOOOOOOOOOOOOOOOO*/
  .box{
	position: relative;
	width: 430px;
	height: 430px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
	margin-left: 530px;

}

.box::before{
	content: '';
	position: absolute;
	top: -50px;
	left: -50px;
	width: 380px;
	height: 420px;
	background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation:animate 6s linear infinite;

}

.box::after{
	content: '';
	position: absolute;
	top: -50px;
	left: -50px;
	width: 380px;
	height: 420px;
	background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation:animate 6s linear  infinite;
    animation-delay:-3s;
}
.borderline{
	position: absolute;
	top: 0;
	inset :0;
}

.borderline::before{

	content: '';
	position: absolute;
	top: -50px;
	left: -50px;
	width: 380px;
	height: 420px;
	background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
    animation-delay: -1.5s;

}
.borderline::after{

	content: '';
	position: absolute;
	top: -50px;
	left: -50px;
	width: 380px;
	height: 420px;
	background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation:animate 6s linear infinite;
    animation-delay: -4.5s;

}
@keyframes animate{
  
0%{
	transform: rotate(0deg);
}
100%{
	transform: rotate(360deg);
}



}



.box form{
	position: absolute;
	inset:4px;
	background: orange;
	padding: 50px 40px;
	border-radius:8px;
	z-index: 2; 
	display: inline;

	
}

.box
 form h2{
     color: #fff;
     font-weight: 500;
     text-align: center;
     letter-spacing: 0.1em;
} 

.box form .inputBox{
	display: inline-block;
	position: absolute;
	width: 300px;
	margin-top: 35px;

}

.box form .inputBox input{
	 position: relative;
	 width: 100%;
	 padding: 20px 10px 10px;
	 background: transparent;
	 outline: none;
	 box-shadow: none;
	 border:none;
	 color: #23242a;
	 font-size: 1em;
	 letter-spacing: 0.06em;
	 transition: 0.5s;
	 z-index: 10;
}

/*PARA TODOS OS IMPUTS*/
.box form #esq {
   margin-left: 215px;
   
}
.box form #es {
   margin-left: 630px;
   margin-top: px;
   
}
/*SEGUNDA FILA IMPUT*/
.box form #dire1{
	margin-top: 70px;
}
.box form #esq1 {
   margin-left: 215px;
   margin-top: 70px;
}
.box form #es1 {
   margin-left: 630px;
   margin-top: 70px;
}
/*TERCEIRA FILA IMPUT*/

.box form #dire2{
	margin-top: 120px;
}
.box form #esq2 {
   margin-left: 315px;
   margin-top: 120px;
}
.box form #es2 {
   margin-left: 630px;
   margin-top: 120px;
}
/*TERCEIRA FILA IMPUT*/

.box form #dire3{
	margin-top: 160px;
}
.box form #esq3 {
   margin-left: 315px;
   margin-top: 160px;
}
.box form #es3 {
   margin-left: 630px;
   margin-top: 160px;
}
/*paragrafos*/

.box form .inputBox span{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	color: white;
	font-size: 1em;
	letter-spacing: 0.06em;
	transition: 0.5s;
}

.box form .inputBox input:valid~span,
.box form .inputBox input:focus~span
{	
       color: #fff;
       font-size: 0.75em;
       transform: translateY(-14px);
}

.box form .inputBox i{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 2px;
	background: #fff;
	border-radius: 4px;
	
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
}

.box form .inputBox input:valid~i,
.box form .inputBox input:focus~i{
      height: 44px;

}


.box form .links{
	display: flex;
	justify-content: space-between;
}

.box form .links a{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: none;

}

.box form .links a :hover,
.box form .links a:nth-child(2)
{
      color: #fff;
}

.box form input[type='submit']
{
 border:none;
 outline: none;
 padding: 9px 25px;
 background: #fff;
 cursor: pointer;
 font-size: 0.9em;
 border-radius: 4px;
 font-weight: 600;
 width: 100px;
 margin-top: 220px;
 margin-left: 146px;


}
.box form input[type='submit']:active{
	opacity: 0.8;
}
